SERVICE_PORT=3030

GATEWAY_SERVICE_HOST=cvgateway-backend
GATEWAY_SERVICE_PORT=8000

GATEWAY_URL=http://cvgateway-backend:8000

AUTH_SERVICE_HOST=cvuser-backend
AUTH_SERVICE_PORT=50051

CV_SERVICE_HOST=cv-info-backend
CV_SERVICE_PORT=50052

INFORMATION_SERVICE_HOST=cv-data-backend
INFORMATION_SERVICE_PORT=50053

GENERATOR_SERVICE_HOST=cv-gen-backend
GENERATOR_SERVICE_PORT=50054

TEMPLATES_SERVICE_HOST=cv-tmpl-backend
TEMPLATES_SERVICE_PORT=50055

RABBITMQ_URL=amqp://admin:admin0981234532adm@rabbitmq:5672/%2F

MINIO_URL=minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=adminadminadmin
